
<div class="content">
    <form id="RegisterValidation" ng-submit="vm.submitMember()">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Yeni üye oluştur</h5>
                </div>
                <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 pl-1">
                                <div class="form-group has-label">
                                    <label for="exampleInputEmail1">E-Posta adresi</label>
                                    <label style="color:red">
                                        *
                                    </label>
                                    <input ng-change="vm.setAutoNickname()" type="email" ng-model="vm.member.email" name="email" required="true" class="form-control" placeholder="E-Posta">
                                </div>
                            </div>
                            <div class="col-md-3 px-1">
                                <div class="form-group">
                                    <label>Rolü</label>
                                    <select ng-model="vm.selectedRole" class="form-control" data-size="7" data-style="btn btn-primary btn-round btn-block" title="Single Select">
                                        <option disabled selected>Seçiniz</option>
                                        <option ng-repeat="item in vm.roles" value="{{item.value}}">{{item.text}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-5 pr-1">
                                <div class="form-group">
                                    <label>Takma ad</label>
                                    <input type="text" ng-model="vm.member.nickname" required="true" class="form-control" >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pl-1">
                                <div class="form-group has-label">
                                    <label>Hakkında</label>
                                    <label style="color:red">
                                        *
                                    </label>
                                    <input type="text" class="form-control" required="true" ng-model="vm.member.aboutMe" placeholder="Hakkında" value="Hakkında.....">
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-user">
                <div class="image">
                    <img src="../../../templates/assets/img/bg5.jpg" alt="...">
                </div>
                <div class="card-body">
                    <div class="author">
                        <a href="#!/createmember">
                            <img ng-if="vm.member.photoUrl !== undefined && vm.member.photoUrl !== null && vm.member.photoUrl !== ''" ng-click="vm.browseFile()" title="Fotoğrafı değiştir" class="avatar border-gray" ng-src="{{vm.member.photoUrl}}" alt="..."> <!--ng-model="vm.member.photoUrl"-->
                            <img id="photoUrl" ng-if="vm.member.photoUrl === undefined || vm.member.photoUrl === null  || vm.member.photoUrl === ''" src="../../../templates/assets/img/default-avatar.png" ng-click="vm.browseFile()" title="Fotoğraf yükle" class="avatar border-gray" alt="...">
                            <h6 ng-click="vm.browseFile()" class="description">Fotoğraf seç</h6>
                            <h5 class="title"> {{ vm.member.firstName }} {{ vm.member.lastName }}</h5>
                        </a>
                        <input type="file" id="file" accept="image/png, image/gif, image/jpeg, image/jpg" file-model="vm.myFile" onchange="angular.element(this).scope().vm.uploadFile(this.files)" style="display:none;" name="file" />
                        <p class="description">
                            #{{  vm.member.nickname }}
                        </p>
                    </div>
                    <hr><br>
                    <div class="container justify-content-center text-center">
                            <div class="row">
                                <div class="col-md-12 px-1">
                                    <div class="form-group">
                                        <label>Şifre</label>
                                        <input type="password" name="password" id="registerPassword" required="true" ng-model="vm.member.password" class="form-control" placeholder="Şifre">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 px-1">
                                    <div class="form-group">
                                        <label>Şifre tekrar</label>
                                        <input type="password" name="password_confirmation" id="registerPasswordConfirmation" required="true" equalTo="#registerPassword" ng-model="vm.tmpMember.rePassword" class="form-control" placeholder="Şifre tekrar">
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col-md-3 pr-1">
            <div class="form-group">
                <button class="btn btn-secondary btn-lg btn-block" type="reset" ng-click="vm.leave()">Vazgeç</button>
            </div>
        </div>
        <div class="col-md-3 pr-1">
            <div class="form-group">
                <button class="btn btn-info btn-lg btn-block" type="submit">Kaydet</button>
            </div>
        </div>
    </div>
</form>
</div>

